.Main {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Background {
  position: fixed!important;
  filter: blur(10px);
  opacity: 0.8;
  transform: scale(1.2);
}

.Viegetal__Logo {
  position: absolute;
  margin: 0 auto;
  top: 24px;
}

.Card {
  margin-top: 256px!important;
  margin: 24px;
  padding: 12px;
  position: relative;
  width: 853px;
  height: 1680px;
  box-shadow: 0px 0px 7px 0px #00000025;
  background-color: white;
  overflow: hidden;
  
  @media (min-width: 720px) {
    height: 1280px;
  }

  @media (min-width: 940px) {
    margin: 128px;
  }
}

.Title {
  font-size: 7vw;
  text-transform: uppercase;
  letter-spacing: 15px;
  text-align: center;
  
  @media (min-width: 940px) {
    font-size: 72px;
  }
}

.Hosts {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  gap: 32px;

  @media (min-width: 620px) {
    gap: 64px;
  }
}

.Host__Card {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
  @media (min-width: 620px) {
    font-size: 30px;
  }

  @media (min-width: 940px) {
    font-size: 38px;
  }
}

.Family__Name {
  text-transform: uppercase;
}

.Host__Status {
  margin-top: -6px;
  text-transform: uppercase;
  font-size: 24px;
  
  @media (min-width: 620px) {
    margin-top: -12px;
  }
}

.Body__Container {
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Body__Title {
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 500;
}

.Body__SubTitle {
  font-size: 28px;
}

.Background__Inner_Card {
  position: absolute;
  left: -24px;
}

.Body__Cards {
  position: relative;
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  flex-direction: column;
  z-index: 1;
  
  @media (min-width: 720px) {
    flex-direction: unset;
    flex-wrap: wrap;
  }
}

.Body__Card {
  margin: 12px;
  padding: 18px 32px 18px 42px;
  background-color: #dae0d2;
  width: fit-content;
  border-radius: 8px;
  font-size: 22px;
}

.Body__Card__Title {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 500;
}

.Body__Card__Text {
  display: block;
  max-width: 140px;
}

.Booking__Info {
  width: fit-content;
  margin: 64px auto 0 auto;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;

  @media (min-width: 720px) {
    margin: 24px 64px 0 auto;
  }
}

.Pricing {
  font-size: 52px;
  font-weight: 500;
}

.Uppercase {
  text-transform: uppercase;
}

.Footer {
  position: absolute;
  bottom: 34px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Footer__Time_Address {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 28px;
  
  @media (min-width: 620px) {
    display: block;
    font-size: 38px;
  }
}

.Footer__Address {
  
  @media (min-width: 720px) {
    margin-left: 64px;
  }
}

.Footer__Date {
  font-size: 42px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 14px;
  text-align: center;
  
  @media (min-width: 620px) {
    font-size: 52px;
  }
}
